*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}



main{
    height: 100vh;
    background-color: aqua;
}
.sidebar{
    width: 280px;
    height: 100%;
    background-color: aquamarine;
}

.library{
    width: 100%;
    background-color: red;
    position: relative;
}


.display{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: beige;
    display: flex;
}

 .banner{
    height: 180px;
    width: 100%;
    background-color: blue;
    position: absolute;
    top: 0;
}

 .player{
    height: 80px;
    width: 100%;
    background-color: black;
}
