/*#region general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}

.d_flex{
    display: flex;
}

.f_column{
    flex-direction: column;
}

.ai_center{
    align-items: center;
}

.jf_center{
    justify-content: center;
}

.mg_10{
    margin: 10px 0;
}

.mb_auto{
    margin-bottom: auto;
}

img{
    max-width: 100%;
}

/*#endregion general */

/*#region main */
main {
    height: 100vh;
    background-color: aqua;
}
/*#endregion main */

/*#region sidebar */
.sidebar {
    padding: 20px;
    width: 280px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;

}
.spotify-logo--text{
    width: 60%;
}

.nav{
    margin: 30px 0;
}

.nav_link{
    padding: 5px 0;
    color:#707070;
    text-decoration: none;
}

.active{
    color: white;
    border-left: 2px solid white;
}

.nav_link .nav_icons{
    width: 25px;
    height: 25px;
    margin-right: 5px;

    
}

li{
    color: #707070;
}

.title_playlist{
    font-size: 12px;
    font-weight: 700;
    color: white;
    padding-bottom: 10px;
}

.add_playlist{
    color: black;
    background-color: #707070;
    height: 45px;
    width: 45px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-right: 10px;
}

.sidebar hr{
    margin: 15px 0;
    color: #707070;
    background-color: #707070;
}

.pic_profile{
    color: white;
    text-decoration: none;

}

.profile_icon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: gray;
}

/*#endregion sidebar */


.library {
    width: 100%;
    background-color: red;
    position: relative;
}


.display {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: beige;
    display: flex;
}

.banner {
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn_trasparent {
    padding: 12px 40px;
    border-radius: 36px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin-right: 10px;
    font-weight: 700;

}

.player {
    height: 80px;
    width: 100%;
    background-color: black;
}